.App {
  background-color: #eff1f1;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px 10%;
}

.App h1 {
  margin-top: 0;
}

.App main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.banner {
  background-color: #158cba;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0;
  grid-column: span 2;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
