body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #cccccc;
  padding: 20px;

  align-self: flex-start;
}

.movieList {
  list-style-type: none;
  padding: 0;
  overflow: auto;
  max-height: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0;
  padding: 10px;
  justify-content: space-evenly;
}

.movieList li {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #cccccc;
  flex-basis: 200px;
  margin-top: 20px;

  align-self: baseline;
  flex-direction: column;
}

.movieList li:last-of-type {
  margin-bottom: 20px;
}

.movieList button {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 5px #cccccc;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.movieList .nominate {
  background-color: #28a745;
  color: #ffffff;
}

.movieList .nominate:disabled {
  background-color: rgba(40, 167, 69, 0.5);
  cursor: default;
  pointer-events: none;
}
.movieList .remove {
  background-color: #dc3545;
  color: #ffffff;
}
.movieList .image {
  width: 200px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
}

.movieList .details {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  padding: 10px;
  gap: 10px;
}
.movieList .details .year {
  background-color: #158cba;
  justify-self: flex-start;
  padding: 3px 15px;
  color: #ffffff;
  border-radius: 15px;
  height: 25px;
}

@media screen and (max-width: 480px) {
  .box {
    align-self: stretch;
  }
}
